.am-movie {
  &_detail {
    min-height: calc(100vh - 64px - 69px);
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    &-background {
      position: absolute;
      // opacity: 0.6;
      left: 0;
      top: 0;
      z-index: 0;
    }
    &-content {
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(20px);
      position: relative;
      transform: translate(-50%, 0px);
      left: 50%;
      top: 0px;
      padding: 30px;
      width: 1440px;
      .ant-row {
        &:nth-child(n) {
          margin-top: 30px !important;
        }
        &:first-child {
          margin-top: 0px !important;
        }
      }
    }
    &-image {
      border-radius: 16px;
      margin-bottom: 0px !important;
    }
    &-back {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    &-genres {
      font-size: 22px;
      display: flex;
      gap: 16px;
    }
    &-title {
      font-size: 54px;
      line-height: 60px;
      font-weight: bold;
      margin-bottom: 0px;
    }
    &-description {
      color: #333;
      margin-bottom: 0px;
      font-size: 18px;
      div {
        font-size: 20px;
        font-weight: 500;
      }
    }

    &-video {
      iframe {
        border: none;
        border-radius: 8px;
      }
      &__name {
        span {
          font-weight: 700;
          font-size: 18px;
        }
      }
    }
  }
}
